# Brevo API Key for sending emails
BREVO_API_KEY=
# The email address that will receive the contact form submissions
CONTACT_RECEIVER_EMAIL=
# Gemini API Key for AI Chat
GEMINI_API_KEY=

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Paystack API Key for payments
VITE_PAYSTACK_PUBLIC_KEY=
